"*":
  autosave:
    enabled: true
  blame: {}
  core:
    disabledPackages: [
      "bookmarks"
      "dev-live-reload"
      "package-generator"
      "github"
      "spell-check"
      "metrics"
    ]
    projectHome: "/Users/linkyndy/GitHub"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Monaco, Inconsolata, Consolas, 'Courier New', Courier"
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "f59eff71-ec20-7c06-2f8a-4b6bb70e90c3"
  "fuzzy-finder": {}
  "highlight-selected": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
